* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #fff;
}

.container {
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 100px;
}

/* Form Login */
.containerLgn {
  background-color: #3b4ca8;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(59, 76, 168, 1) 0%,
    rgba(1, 82, 156, 1) 61%,
    rgba(237, 221, 83, 1) 100%
  );
  position: relative;
}

.form-box {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 10px;
}

.title-form {
  font-size: 28px;
  margin-bottom: 25px;
  color: #01529c;
}

.input-field {
  background-color: #e4e4e4;
  margin: 13px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  max-height: 65px;
  overflow: hidden;
  transition: max-height 0.5s;
}

input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 18px 15px;
}

.input-field i {
  margin-left: 15px;
  color: #999;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.btn-field button {
  flex-basis: 100%;
  background: #eddd53;
  border: none;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 1s;
  outline: 0;
  color: #616161;
}

.btn-field button:hover {
  background-color: #01529c;
  color: #fff;
}

.btn-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-footer button {
  flex-basis: 48%;
  background: #01529c;
  margin-left: 5px;
  border: none;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 1s;
  outline: 0;
  color: #fff;
}

.btn-footer button:hover {
  background-color: #eddd53;
  color: #616161;
}

/* CSS modal */
.modallgn {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%;
}

.modal-content h2 {
  color: #01529c;
  padding: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* End CSS Form Login */

/* Navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #01529c;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 30px;
  margin-left: 20px;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 15px;
  padding: 15px;
  color: #fff;
  display: block;
}

header .navbar ul li a:hover {
  background: #eddd53;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #01529c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #eddd53;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logoutBtn {
  margin-right: 5px;
  margin-left: 5px;
  padding: 8px 16px;
  background: #eddd53;
  color: #01529c;
  text-decoration: none;
  border-radius: 20px;
  transition: background 0.3s, transform 0.2s;
  margin-top: 7px;
}

#logoutBtn:hover {
  background: #f44336;
  transform: scale(1.05);
  color: #000;
}

ul.topnav li a.active {
  background-color: #fff;
  color: #01529c;
  font-weight: bold;
}
/* End Navbar */

/* Dashboard CSS */
.box-greeting {
  padding: 40px;
  background-color: #01529c;
  border-radius: 20px;
  color: #fff;
}

.greeting {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
}
/* End Dashboard CSS */
/* Tracking Pengiriman CSS */
.container-tracking {
  padding: 40px;
  background-color: #01529c;
  border-radius: 20px;
  color: #fff;
}

.container-tracking h1 {
  text-align: center;
  color: #fff;
}

.search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #fefefe;
  border-radius: 50px;
}

input[type="text"] {
  padding: 10px;
  width: 900px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.searchbtn {
  padding: 10px 20px;
  background: #eddd53;
  border: 0;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.searchbtn:hover {
  background: #616161;
  color: #fff;
}

.result {
  margin-top: 20px;
}

.detail {
  background: #01529c;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.detail h2 {
  margin-top: 0;
  color: #fff;
}

.detail p {
  padding: 5px;
  margin: 5px 0;
  color: #fff;
}
.table-paket h3 {
  font-size: 28px;
  border: 1px solid #fff;
  background: #fff;
  padding: 8px;
  color: #01529c;
  border-radius: 30px;
  text-align: center;
}

.tabel-tracking {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
}

.tabel-tracking th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabel-tracking th {
  background-color: #eddd53;
  color: #000;
}

.modaldata {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  color: #f44336;
  padding: 10px;
}

.modal p {
  color: #666;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End Tracking Pengiriman CSS */

/* CSS Stok */
.container-stok {
  padding: 10px;
  background-color: #01529c;
  border-radius: 50px;
  color: #fff;
}

.container-stok h1 {
  text-align: center;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
}

.table-stok th {
  background: #01529c;
  padding: 15px;
  color: #fff;
  text-align: center;
}

.table-stok td {
  border: none;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

img {
  width: 50px;
  height: auto;
}
/* End CSS Stok */
/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #01529c;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: small;
}
/* End Footer */
